/backend/resources/
/backend/predictionComponent/resources/
/backend/preprocessingComponent/resources

# Python cache files and directories
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class

# Archive files
*.zip
*.rar
*.7z
*.tar
*.tar.gz
*.tar.bz2

# Data files
*.csv

# Ignore all images under research/data
research/data/